html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 850px
}

h1 {
background-color: rgb(255, 255, 255);
color: black;

}

h2 {
    margin-bottom: 2px;
}


.header {
    padding: 10px;
    text-align: center;
    background: #25ddfe;
    color: white;
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    margin-top: 10px;
    border-color: red;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #25ddfe;
    color: white;
    font-size: 15px;
    border-radius: 6px;
}

section{
    padding: 50px;
}

h3 > p{
    margin-bottom: 5px;
}