html {
  background-color: darkslateblue;
  font-family: arial;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  overflow: auto;
}

nav>div {

  height: 350px;
  background-color: white;
  margin:2px;
  text-align: center;
  padding: 20px;
  flex-basis: 50px;
  flex-grow: 1;
  flex-direction: column;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 3em;
  color: black;
  }

nav div:hover {
  background-color: lightgrey;
}