body {
    background-color: black;
    color: white;
}

h1 {
    color: greenyellow;
    font-family: arial;
}

h2:nth-child(1) {
    color: orange;
    font-family: arial;
}

p:nth-child(2) {
    color: blue;
    font-weight: bold;
    font-family: arial;
}

p:nth-child(3) {
    color: yellow;
    font-family: arial;
    font-style: italic;
}

p:nth-child(4) {
    color: red;
    font-family: monospace;
}

body>p {
    color: yellow;
    background-color: red;
    font-family: arial;
    font-style: italic;
}

footer>p {
    color: red;
    font-family: monospace;
    text-decoration-line: underline;
}